ol{
  display:flex;
  justify-content:flex-end;
  
}
li{
  width:80px;
  background-color: rgb(240, 237, 237);
  color:black;
  margin: 20px;
  padding:10px;
  text-align: center;
  border-radius: 20px;
}
.contact{
     height:600px;
     vertical-align: middle;
     margin-left:180px;
}
.home{
  height:600px;
     vertical-align: middle;
     margin-left:180px;
}
.about{
  height:600px;
     vertical-align: middle;
     margin-left:180px;
}
.abc{
  margin-right :10%;
  text-align: center;
}
.logo{
  height : 80px;
  width : 80px;
}
